.employee {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  padding: 0 15px;
}

.employee-selector {
  font-size: 12px;
  width: 100%;
  height: fit-content;
}

.employee-selector__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  gap: 10px;
}

.employee-selector__item,
.employee-selector__item--add {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  gap: 15px;
  list-style: none;
  border: 1px solid rgba(255, 255, 255, 0.158);
  background: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  padding: 10px 15px;
  overflow: hidden;
}

.employee-selector__selected-item {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 5px;
  height: 50%;
  width: 3px;
  border-radius: 100px;
  background-color: rgba(255, 255, 255, 0.286);
}

.employee-selector__image-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  aspect-ratio: 1/1;
  border-radius: 100px;
  background-color: rgba(255, 255, 255, 0.2);
  overflow: hidden;
}

.employee-selector__image,
.employee-selector__image--add {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 25px;

  height: 100%;
  width: 100%;
  object-fit: cover;
}

.employee-selector__image--add {
  padding: 10px;
}

.employee-selector__name {
  /* white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; */
}
