.page-purchased-items {
  padding-top: 75px;
}

.purchased-items {
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding-top: 15px;
}

.purchased-items__title {
  min-height: 28px;
  font-size: 28px;
  line-height: 1;
  padding: 0 15px;
  width: fit-content;
}

.purchased-items__nav {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.purchased-items__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
}

.purchased-items__warning {
  color: rgba(255, 255, 255, 0.5);
}

.purchased-items__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.purchased-items__link {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex: 1;
  background: none;
  padding: 15px;
  border-radius: 15px;
  height: fit-content;
  border: none;
  gap: 15px;
}

.purchased-items__icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  aspect-ratio: 1/1;
  border-radius: 5px;
  overflow: hidden;
}

.purchased-items__icon {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.purchased-items__text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  gap: 3px;
  width: 100%;
}

.purchased-items__name {
  font-size: 16px;
  font-weight: 600;
}

.purchased-items__date {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
}

.purchased-items__more-button {
  background: none;
  border: none;
  padding: 0 15px;
  height: 100%;
  aspect-ratio: 1/1;
}

.purchased-items__more-icon {
  opacity: 0.5;
}
