.overlay--add-customer {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease, visibility 0.2s ease;
}

.overlay--add-customer.show {
  opacity: 1;
  visibility: visible;
}

.overlay--add-customer.show .overlay__wrapper {
  transform: translateY(0);
}
