.overlay--add {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease, visibility 0.2s ease;
}

.overlay--add.visible {
  opacity: 1;
  visibility: visible;
}

.overlay__wrapper--add {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 35px;
  width: 100%;
  max-width: 768px;
  align-items: flex-start;
  padding-bottom: 50px;

  transform: translateY(100%);
  will-change: transform;
  transition: transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.overlay--add.visible .overlay__wrapper {
  transform: translateY(0);
}

.form--add {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
  max-width: 100%;
  gap: 75px;
}

.form__body {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  max-width: 100%;
}

.field {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.field__label {
  font-weight: 400;
  width: 100px;
  min-width: 100px;
}

.field__input {
  padding: 5px 15px;
  font-size: 16px;
  color: white;
  width: 100%;
  border-radius: 100px;
  background-color: rgba(255, 255, 255, 0.179);
  /* border: 2px solid rgba(255, 255, 255, 0.037);  */
  border: none;

  -webkit-appearance: none;
  -moz-appearance: none;

  appearance: none;
}

.field__input::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

.field__input--file {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  width: 100%;
}

.field__input--file::-webkit-file-upload-button {
  padding: 5px 10px;
  font-size: 16px;
  color: white;
  border-radius: 100px;
  background-color: rgba(255, 255, 255, 0.179);
  /* border: 2px solid rgba(255, 255, 255, 0.037); */
  border: none;
}

.field__input--select option {
  color: black;
}

.overlay__submit-button {
  width: 100%;
  padding: 7.5px 15px;

  font-size: 16px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 600;
  color: white;

  background-color: rgba(255, 255, 255, 0.179);
  /* border: 2px solid rgba(255, 255, 255, 0.037); */
  border: none;
  border-radius: 100px;
}
