.overlay {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 101;
}

.overlay__wrapper {
  position: absolute;
  bottom: 0;

  border-radius: 35px;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  padding: 25px;
  /* overflow: auto; */

  backdrop-filter: blur(20px) saturate(180%);
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.2),
    inset 0 0 4px 2px rgba(255, 255, 255, 0.045);
}

.overlay__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 15px;
  margin-bottom: 35px;
}

.overlay__header-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.overlay__title {
  font-size: 20px;
  font-weight: 600;
  text-wrap: nowrap;
}

.overlay__button {
  font-size: 15px;
  font-weight: 600;
  height: 30px;
  padding: 0 15px;
  border: none;
}

.overlay__round-button {
  font-size: 15px;
  aspect-ratio: 1/1;
  padding: 0 0 2px 0;
  height: 30px;
}

.overlay__button--danger {
  color: rgb(255, 19, 19);
}

.overlay__wrapper--form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  max-width: 768px;
  align-items: flex-start;
  padding-bottom: 50px;
  transform: translateY(100%);
  will-change: transform;
  transition: transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.overlay__form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
  max-width: 100%;
}

.overlay__form-body {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  overflow: hidden;
  max-width: 100%;
  margin-bottom: 75px;
}

.field {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.field__left {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.field__icon {
  height: 20px;
}

.field__label {
  font-weight: 400;
  width: 100px;
  min-width: 100px;
}

.field__input-wrapper {
  position: relative;
  width: 100%;
}

.field__input-wrapper--select::after {
  content: url(../../../assets/icons/arrow_back_ios_new_24dp_000000_FILL1_wght400_GRAD0_opsz24.svg);
  filter: invert(1);
  position: absolute;
  display: inline-block;
  right: 10px;
  bottom: 7.5%;
  transform: scale(0.5) rotate(270deg);
  pointer-events: none;
}

.field__input-wrapper--select .field__input {
  padding-right: 40px;
}

.field__input-unit {
  position: absolute;
  bottom: 50%;
  right: 15px;
  transform: translateY(50%);
  width: fit-content;
  pointer-events: none;
}

.field__input-unit--left {
  right: none;
  left: 15px;
}

.field__input {
  padding: 7.5px 15px;
  font-size: 16px;
  color: rgba(255, 255, 255);
  width: 100%;

  border-radius: 100px;
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 0.037);
  border: none;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.field__input-wrapper--weight .field__input {
  padding-right: 45px;
}

.field__input-wrapper--price .field__input {
  padding-left: 45px;
  padding-right: 7.5px;
}

.field__input::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

.field__input--file {
  display: none;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  width: 100%;
}

.field__input--select option {
  color: black;
}

.overlay__submit-button {
  width: 100%;
  padding: 7.5px 15px;

  font-size: 16px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 600;
  color: white;

  background-color: rgba(255, 255, 255, 0.179);
  /* border: 2px solid rgba(255, 255, 255, 0.037); */
  border: none;
  border-radius: 100px;
}

.overlay__warning {
  color: rgba(255, 255, 255, 0.5);
  padding: 100px 0;
}
