.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 64px;
  padding: 0 15px;
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
  justify-content: space-between;
  backdrop-filter: blur(20px) saturate(180%);
  z-index: 100;
}

.header--home {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 64px;
  padding: 0 15px;
  margin-bottom: 10px;
}

.header__logo {
  height: 30px;
}

.header__title {
  opacity: 0;
  visibility: hidden;
  font-size: 16px;
  font-weight: 600;
  transition: all 0.2s ease;
}

.header__button {
  display: flex;
  align-items: center;
  justify-content: center;

  aspect-ratio: 1/1;
  border-radius: 100px;
  padding: 10px;

  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3),
    inset 0 0 4px 2px rgba(255, 255, 255, 0.045);

  z-index: 100;
}

.header__icon {
  height: 20px;
  filter: invert(100%);
}

.search-bar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0 15px;
}

.search-bar__input {
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.09);
  border: 1px solid rgba(255, 255, 255, 0.15);
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.4),
    inset 0 0 4px 2px rgba(255, 255, 255, 0.045);
  border-radius: 100px;
  padding: 10px 20px;
  font-size: 16px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 600;
  color: white;
}

.search-bar__icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 35px;
  height: 21px;
  opacity: 0.7;
}
