.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 15px;
  padding: 0 15px 20px 15px;
  z-index: 100;
  max-width: 768px;
}

.bottom-nav__list,
.bottom-nav__list--right {
  position: relative;
  display: flex;
  flex-direction: row;
  height: 64px;
  align-items: center;
  gap: 5px;
  flex: 1;
  justify-content: space-between;
  padding: 5px 5px;
  background: rgba(255, 255, 255, 0.114);
  backdrop-filter: blur(20px) saturate(180%);
  border: 1px solid rgba(255, 255, 255, 0.15);
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.4),
    inset 0 0 4px 2px rgba(255, 255, 255, 0.035);
  border-radius: 100px;
}

.bottom-nav__list--right {
  flex: 0;
  aspect-ratio: 1/1;
  justify-content: center;
  width: fit-content;
}

.bottom-nav__item,
.bottom-nav__item--right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  gap: 3px;
  list-style: none;
  border-radius: 100px;
  padding: 5px 5px;
}

.bottom-nav__item.selected,
.bottom-nav__item--right.selected {
  position: relative;
  /* background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.19),
    rgba(255, 255, 255, 0.168),
    rgba(255, 255, 255, 0.19)
  ); */
  background-color: rgba(255, 255, 255, 0.179);
  box-shadow: 0px 0px 5px 2px rgba(255, 255, 255, 0.05);
  border-top: 2px solid rgba(255, 255, 255, 0.037);
  border-bottom: 2px solid rgba(255, 255, 255, 0.037);
}

.bottom-nav__item--right {
  width: auto;
  aspect-ratio: 1/1;
  /* padding: 5px 25px; */
}

.nav-icon {
  height: 80%;
  filter: invert(100%);
}

.bottom-nav__item-name {
  font-size: 10px;
  font-weight: 600;
}

.bottom-nav__search-bar {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 64px;
  bottom: 100px;
  left: 0;
  right: 0;
  padding: 0 15px;
}

.bottom-nav__search-bar-input {
  position: relative;
  height: 100%;
  width: 100%;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.3);
  border: 1px solid rgb(72, 72, 72);
  background-color: black;
  border-radius: 100px;
  padding: 0 30px;
  font-size: 16px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 600;
}

.bottom-nav__search-bar-icon {
  position: absolute;
  right: 45px;
  height: 45%;
}
