.bottom-nav {
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 15px;
  padding: 0 15px 20px 15px;
  z-index: 100;
  width: 100%;
  max-width: 768px;
}

.bottom-nav__list,
.bottom-nav__list--right {
  position: relative;
  display: flex;
  flex-direction: row;
  height: 64px;
  align-items: center;
  gap: 5px;
  flex: 1;
  justify-content: space-between;
  padding: 5px 5px;
  background: rgba(255, 255, 255, 0.09);
  backdrop-filter: blur(20px) saturate(180%);
  border: 1px solid rgba(255, 255, 255, 0.15);
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3),
    inset 0 0 4px 2px rgba(255, 255, 255, 0.045);
  border-radius: 100px;
  z-index: 100;
}

.bottom-nav__list--right {
  flex: 0;
  aspect-ratio: 1/1;
  justify-content: center;
}

.bottom-nav__item,
.bottom-nav__item--right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  list-style: none;
  border-radius: 100px;
  padding: 5px 5px;
  cursor: pointer;
}

.bottom-nav__item-link {
  display: flex;
  flex-direction: column;
  gap: 3px;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.bottom-nav__item.selected,
.bottom-nav__item--right.selected {
  position: relative;
  background-color: rgba(255, 255, 255, 0.179);
  box-shadow: 0px 0px 5px 2px rgba(255, 255, 255, 0.05);
  /* border: 2px solid rgba(255, 255, 255, 0.037); */
}

.bottom-nav__item--right {
  width: auto;
  aspect-ratio: 1/1;
  /* padding: 5px 25px; */
}

.icon {
  filter: invert(100%);
}

.nav-icon {
  height: 80%;
}

.bottom-nav__item-name {
  font-size: 10px;
  font-weight: 600;
}

.bottom-nav__search-bar {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 64px;
  bottom: 20px;
  transform: translateY(0px);
  padding: 0 15px;
  right: 0;
  transition: width 0.3s ease, transform 0.2s ease;
  transition-delay: 0.2s, 0s;
  width: 100px;
  z-index: 99;
}

.bottom-nav__search-bar.visible {
  width: 100%;
  visibility: visible;
  opacity: 1;
  transform: translateY(-80px);
}

.bottom-nav__search-icon {
  transition: transform 0.3s ease;
}

.bottom-nav__search-bar-input {
  position: relative;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.09);
  backdrop-filter: blur(20px) saturate(180%);
  border: 1px solid rgba(255, 255, 255, 0.15);
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.4),
    inset 0 0 4px 2px rgba(255, 255, 255, 0.045);
  border-radius: 100px;
  padding: 0 30px;
  font-size: 16px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 600;
  color: white;
}

.bottom-nav__search-bar-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 45px;
  height: 45%;
}
