.customer-data {
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding-top: 15px;
}

.customer-data__header-name {
  font-size: 28px;
  padding-left: 15px;
}

.customer-data__wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.customer-data__item-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
}

.customer-data__item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.customer-data__item-link {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  border-radius: 15px;
  height: fit-content;
  border: none;
  gap: 15px;
}

.customer-data__item-icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.2);
  height: 50px;
  width: 50px;
  aspect-ratio: 1/1;
  border-radius: 100px;
}

.customer-data__item-icon {
  font-size: 20px;
}

.customer-data__item-text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  gap: 3px;
  width: 100%;
}

.customer-data__item-name {
  font-size: 16px;
  font-weight: 600;
}

.customer-data__item-count {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
}

.customer-data__item-button-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.customer-data__item-button {
  background: none;
  border: none;
  padding: 0;
}

.customer-data__item-button-icon {
  opacity: 0.5;
}
