.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 64px;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.536);
  backdrop-filter: blur(20px) saturate(180%);
  border-bottom: 3px solid rgba(255, 255, 255, 0.114);
  z-index: 100;
}

.header__logo {
  height: 30px;
}
