.header {
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 1024px;
  display: flex;
  height: 80px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  z-index: 100;
}

.header--solo {
  max-width: none;
  height: 64px;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(20px) saturate(180%);
  justify-content: center;
}

.header__logo {
  height: 100%;
}

.header__name {
  font-size: 16px;
  font-weight: 600;
}

.header__button {
  display: flex;
  align-items: center;
  justify-content: center;

  aspect-ratio: 1/1;
  border-radius: 100px;
  height: 100%;
  padding: 10px;
  background: rgba(255, 255, 255, 0.09);
  backdrop-filter: blur(20px) saturate(180%);
  border: 1px solid rgba(255, 255, 255, 0.15);
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3),
    inset 0 0 4px 2px rgba(255, 255, 255, 0.045);
  border-radius: 100px;
  z-index: 100;
}

.header__button-icon {
  height: 100%;
  filter: invert(100%);
  /* background-color: lightblue; */
}
