.page-main {
  padding: 15px;
  font-weight: 500;
}

.employee {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.employee-cards {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  aspect-ratio: 3/2;
}

.employee-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
      120deg,
      rgba(255, 255, 255, 0.35) 0%,
      rgba(255, 255, 255, 0.15) 25%,
      rgba(255, 255, 255, 0.05) 50%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(
      -60deg,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.1) 40%,
      rgba(0, 0, 0, 0) 100%
    ),
    repeating-linear-gradient(
      145deg,
      rgba(128, 128, 128, 0.075) 0px,
      rgba(128, 128, 128, 0.075) 1px,
      transparent 1px,
      transparent 5px
    );
  opacity: 0.8;
}

.employee-card,
.employee-card--stack {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  /* opacity: 0.5; */

  color: black;
  background-color: rgb(18, 18, 18);

  width: 100%;
  aspect-ratio: 3/2;
  border-radius: 15px;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
  border-top: 2px solid rgba(255, 255, 255, 0.212);
  /* border-left: 2px solid rgba(255, 255, 255, 0.333); */
  overflow: hidden;

  z-index: 99;

  background-image: linear-gradient(
      135deg,
      rgba(255, 255, 255, 0.2) 0%,
      transparent 50%
    ),
    linear-gradient(225deg, rgba(236, 221, 132, 0.1) 0%, transparent 50%);
}

.employee-card--stack {
  width: calc(100% - 20px);
  bottom: -7px;
  background-color: rgb(130, 121, 73);
  z-index: 98;
}

.employee-card__top-section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  border-left: 2px solid rgba(255, 255, 255, 0.075);
  border-bottom: 3px solid rgba(255, 255, 255, 0.168);
  height: 30%;
  width: 100%;
}

.employee-card__logo {
  height: 100%;
}
.employee-card__bottom-section {
  padding: 25px;
  display: flex;
  background-color: rgb(221, 205, 118);
  border-left: 2px solid rgba(255, 255, 255, 0.563);

  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.employee-card__detail {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 100%;
  gap: 5px;
}

.employee-card__detail-row {
  font-size: 14px;
  font-family: "Times New Roman", Times, serif;
  font-weight: 500;
  color: rgb(30, 30, 30);
  display: flex;
  flex-direction: row;
  padding: 5px;
  flex-wrap: nowrap;
}

.employee-card__detail-title {
  width: 90px;
}

.employee-card__detail-content {
  white-space: nowrap;
}

.employee-card__image-wrapper {
  display: flex;
  height: 65%;
  aspect-ratio: 4/5;
}

.employee-card__image {
  object-fit: cover;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 5px 2px rgba(255, 255, 255, 0.1);
  border: 0.5px solid rgba(0, 0, 0, 0.681);
  border-radius: 7.5px;
}

.employee-card__selector {
  font-size: 12px;
  width: 100%;
  height: fit-content;
}

.employee-card__selector-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  gap: 10px;
}

.employee-card__selector-item {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
  list-style: none;
  border: 1px solid rgba(255, 255, 255, 0.158);
  background: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  padding: 10px 15px;
  overflow: hidden;
}

.employee-card__selected-item {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 5px;
  height: 50%;
  width: 3px;
  border-radius: 100px;
  background-color: rgba(255, 255, 255, 0.286);
}

.employee-card__selector-image {
  width: 50px;
  aspect-ratio: 1/1;
  border-radius: 100px;
}

.employee-card__selector-name {
  white-space: nowrap;
}
