*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #000000;
  color: rgb(255, 255, 255);
  font-family: "Inter";
  height: 3000px;
  margin-top: 64px;
}

.page-main {
  padding: 15px;
  font-weight: 400;
  width: 100%;
  max-width: 1024px;
}

input:focus {
  outline: none;
}

a,
div,
li {
  outline: none;
  -webkit-tap-highlight-color: transparent;
  color: inherit;
  text-decoration: none;
  -webkit-user-drag: none;
}

button,
a {
  cursor: pointer;
}
