.card {
  position: relative;
  display: flex;
  flex-direction: column;

  color: black;
  background-color: rgb(18, 18, 18);

  overflow: visible;
  width: 100%;
  aspect-ratio: 3/2;
  border-radius: 15px;
  border-top: 2px solid rgba(255, 255, 255, 0.212);
}

.card--customer {
  width: calc(100% - 30px);
  margin: 0 15px;
}

.card::before {
  content: "";
  position: absolute;
  width: 92%;
  left: 50%;
  transform: translateX(-50%);
  bottom: -2.5%;
  height: 80%;
  overflow: visible;
  background-color: rgb(116, 109, 69);
  border-radius: 15px;
  z-index: -1;
}

.card::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 15px;
  background: linear-gradient(
      135deg,
      rgba(255, 255, 255, 0.5) 0%,
      rgba(255, 255, 255, 0.25) 25%,
      rgba(255, 255, 255, 0.05) 50%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(
      -75deg,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.1) 40%,
      rgba(0, 0, 0, 0) 100%
    ),
    repeating-linear-gradient(
      145deg,
      rgba(128, 128, 128, 0.075) 0px,
      rgba(128, 128, 128, 0.075) 1px,
      transparent 1px,
      transparent 5px
    );
  opacity: 0.8;
}

.card__top {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 30%;
  padding: 4%;
  border-radius: 15px 15px 0 0;
  border-left: 2px solid rgba(255, 255, 255, 0.075);
  border-bottom: 3px solid rgba(255, 255, 255, 0.168);
}

.card--customer .card__top {
  height: 25%;
  padding: 2.5%;
}

.card__logo {
  height: 100%;
}
.card__bottom {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  height: 70%;
  width: 100%;
  flex: 1;
  background-color: rgb(221, 205, 118);
  border-left: 2px solid rgba(255, 255, 255, 0.563);
  border-radius: 0 0 15px 15px;
}

.card--employee .card__bottom {
  padding: 7%;
}

.card--customer .card__bottom {
  padding: 5%;
  height: 75%;
}

.card__detail {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.card--employee .card__detail {
  gap: 15px;
}

.card--customer .card__detail {
  gap: 5px;
}

.card__row {
  display: flex;
  flex-direction: row;
}

.card__title,
.card__content {
  color: rgb(50, 50, 50);
  font-size: 14px;
  font-family: "Lora", "Times New Roman", Times, serif;
  font-weight: 500;
  white-space: nowrap;
}

.card--customer .card__title,
.card--customer .card__content {
  font-size: 12px;
}

.card__title {
  width: 90px;
}

.card--customer .card__title {
  width: 130px;
}

.card__image-wrapper {
  display: flex;
  height: 100%;
  aspect-ratio: 4/5;
}

.card__image {
  object-fit: cover;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 5px 2px rgba(255, 255, 255, 0.1);
  border: 0.5px solid rgba(0, 0, 0, 0.681);
  border-radius: 7.5px;
}
