.header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(20px) saturate(180%);
  z-index: 100;
}

.header__top {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: flex-start;
  justify-content: space-between;
}

.header__logo {
  height: 30px;
}

.header__profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.header__picture-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  aspect-ratio: 1/1;
  border-radius: 100px;
  background-color: rgb(50, 50, 50);
  overflow: hidden;
  z-index: 101;
}

.header__picture {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 25px;

  height: 100%;
  width: 100%;
  object-fit: cover;
}

.header__button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7.5px;

  /* aspect-ratio: 1/1; */
  border-radius: 100px;
  padding: 10px;

  box-shadow: inset 0 0 4px 2px rgba(255, 255, 255, 0.045);

  z-index: 100;
}

.header__name {
  font-size: 14px;
  font-weight: 600;
  margin-top: -5px;
  padding: 10px 15px;
}

.header__name-icon {
  height: 14px;
  transform: rotate(270deg);
}

.header__icon {
  height: 20px;
  filter: invert(100%);
}

.search-bar {
  position: relative;
  display: none;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0 15px;
}

.search-bar__input {
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.09);
  border: 1px solid rgba(255, 255, 255, 0.15);
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.4),
    inset 0 0 4px 2px rgba(255, 255, 255, 0.045);
  border-radius: 100px;
  padding: 10px 20px;
  font-size: 16px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 600;
  color: white;
}

.search-bar__icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 35px;
  height: 21px;
  opacity: 0.7;
}
