.header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(20px) saturate(180%);
  z-index: 100;
}

.header__home {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.header__top {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: flex-start;
  justify-content: space-between;
}

.header__logo {
  height: 30px;
}

.header__profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.header__picture-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  aspect-ratio: 1/1;
  border-radius: 100px;
  background-color: rgb(50, 50, 50);
  overflow: hidden;
  z-index: 101;
}

.header__picture {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 25px;

  height: 100%;
  width: 100%;
  object-fit: cover;
}

.header__button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7.5px;

  /* aspect-ratio: 1/1; */
  border-radius: 100px;
  padding: 10px;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3),
    inset 0 0 4px 2px rgba(255, 255, 255, 0.045);

  z-index: 100;
}

.header__name {
  font-size: 14px;
  font-weight: 600;
  margin-top: -5px;
  padding: 10px 15px;
}

.header__name-icon {
  height: 14px;
  transform: rotate(270deg);
  transition: all 0.2s ease;
}

.header__icon {
  height: 20px;
  filter: invert(100%);
}
